<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="http://localhost:3300/static/css/main.css">
</head>
<body>
  <div class="wrap middle">
    <img src="https://t4.ftcdn.net/jpg/05/21/18/03/360_F_521180377_2iAVJqBQSo3cgKaVp8vMBR8asrC61DoU.jpg" 
    class="main-banner-img"/>

    <div style="height: 15px"></div>

    <h1>BLOG</h1>

    <div style="height: 15px"></div>